header{
    display: flex;
    justify-content: space-between;
}
nav {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 40%;
    min-width: 400px;
}

nav a{
    text-decoration: none;
    cursor: pointer;
}
nav a:hover:not(:last-child){
    color: white;
}

/* CONTACT PAGE STYLES */
.section-1{
    height: 70vmin;
    min-height: 500px;
    position: relative;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    min-width: 400px;
    line-height: 60px;
    text-align: center;
}
.content-homelink:hover{
    color: blue;
    cursor: pointer;
}
.active{color: white;}
.active2{color: rgba(15, 12, 218, 0.5)}
.first-card{
    border-radius: 5%;
    width: 30%;
    overflow: hidden;
}
.contact-form{
    width: 50%;
}
.cont-details{
    height: 100px;
    text-align: center;
    padding: 40px;
}

form{
    display: flex;
    flex-direction: column;
    border-radius: 20%;
}
.contact-form-button{
    width: fit-content;
}
.map-area iframe{
    width: 100%;
    margin-bottom: 3%;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: rgba(225, 226, 228, 1) 1px solid;
}

input:not(:last-child), textarea:not(:last-child) {
    margin-bottom: 20px;
}

input:focus, textarea:focus {
    outline: rgba(64, 163, 248, 1) 1px solid;
}
.section-1{
    background-image: url(../images/contact\ bg.svg);
}

/* landing page style */
.Home{
    background-image: linear-gradient(to bottom right,rgb(230, 242, 252),rgb(230, 245, 253),#fff,rgba(229, 243, 250, 0.65), rgb(217, 233, 245));
}
.land-section1{
    height: 100vh;
    position: relative;
    min-height: 500px;
}
.land-content1{
    gap: 15px;
    position: absolute;
    z-index: 3;
    width: 30%;
    min-width: 400px;
    top: 60%;
    transform: translateY(-50%);
}

.female-doc {
     /* width: 85%; */
    object-fit: cover;
    position: absolute;
    z-index: 2;
    bottom: 0;
    height: 80%;
    right: 3%;
 }

.contents{
     display: flex;
     justify-content: space-between;
 }
 .book-appointment-btn{
     width: fit-content;
 }
.section2-text{
    display: flex;
    justify-content: center;
    align-content: center;
}
.doc-image{
    width: 50%;
    object-fit: cover;
    padding: 10px 20px;
}
.cards{
    border-radius: 5%;
}
.doc-image img{
    width: 100%;
    height: 20%;
    border-radius: 5%;
}

.container{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* 3 easy steps */
.small-card {
    width: 30%;
}

.small-card p {
    text-align: center;
}

.doc-text {
    width: 50%;
}

.doc-text:not(:last-child){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.doc-text button{
    margin-top: 20px ;
}

/* SECTION 5 */
.certified-docs{
    align-items: center;
    margin-bottom: 40px;
}

.doc-cards {
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.doc-cards .docimage{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
}
.cards{
    padding: 5px 5px 10px;
    margin-bottom: 40px;
    transition: 0.5s;
}
.cards:hover{
    transform: translateY(-5%);
}

.first-doc{
    background-image: url(../images/firstdoctor.png);
    border-radius: 5%;
}
.second-doc{
    background-image: url(../images/seconddoctor.png);
    border-radius: 5%;
}
.third-doc{
    background-image: url(../images/secondtothelastdoctor.png);
    border-radius: 5%;
}
.fourth-doc{
    background-image: url(../images/lastdoctor.png);
    border-radius: 5%;
}
.explore-button{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.card{
    height: 300px;
    width: 30%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.card-text{
    text-align: center;
    line-height: 20px;
}
.card:hover{
    background-color: rgba(255, 255, 255, 1);
}
.card:hover:after {
    content: " ";
    width: 100%;
    display: block;
    height: 15px;
    background-color: rgba(64, 163, 248, 1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: CBottom 0.7s;
}
.carousel{
    margin: 30px auto 0;
    text-align: center;

}
@keyframes CBottom {
    0% {width: 0;}
    100% {width: 100%;}
}

.sec-imagepart{
    width: 50%;
}
.sec-imagepart img{
    width: 100%;
}
.sec-textpart{
    width: 50%;
}
/* Section 7 */
.client-feedbacks {
    align-items: unset;
    position: relative;
}
.nav-right{
    position: absolute;
    top: 35.8%;
    right: 0;
}
.nav-left{
    position: absolute;
    top: 33%;
    left: 0;
}
.nav-left,.nav-right{
    cursor: pointer;
}

.feedback-card{
    border-radius: 5%;
    width: 30%;
    padding: 20px 30px;
    text-align: center;
}
.feedback-card img{
    border-radius: 50%;
}
.clients{
    text-align: center;
}
.land-section8{
    margin-top: 5%;
}

.smiling-doc-container {
    position: relative;
}

.smiling-doc-container > div {
    padding: 5% 0 5% 5%;
}

.smiling-doc-container > div *{
    position: relative;
    z-index: 3;
}

.smiling-doc-image {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 3%;
    height: 120%;
}


/* footer */

footer {
    padding: 0 7.5%;
    font-size: 14px;
}

.firstpart {
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.firstpart .first {flex: 1;}

.firstpart .second {width: 30%;}

.firstpart .marg {width: 15%;}

.firstpart .marg > div:not(:first-child) {
    cursor: pointer;
}

.firstpart .marg > div:not(:first-child):hover {
    color: rgba(64, 163, 248, 1);
}

form {
    display: flex;
    flex-direction: column;
}

.lastpart {
    border-top: 1px solid rgba(117, 117, 117, 0.46);
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
}

.lastpart-text {
    width: 25%;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
}


footer img,  .app-store img, .tick-icon {
    margin-right: 20px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.d-flex {
    display: none;
}
/* end of footer */

@media only screen and (max-width: 1024px) {
    .doc-cards {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

/* LANDING PAGE MEDIA QUERY */
@media only screen and (max-width: 850px) {
    .land-section1{
        min-height: unset;
        height: 40vmax;
    }

    .land-content1 {
        width: 90%;
        min-width: unset;
        max-width: 350px;
    }
    .land-content1 h3{font-size: 28px;}
    .land-content1 p{font-size: 16px;}
    .section2-text{font-size: 28px;
    text-align: center;}
    .small-card p{ font-size: 16px;
    line-height: 35px;}
    .doc-text h4{font-size: 28px; 
    text-align: center;}
    .doc-text p{font-size: 16px;}
    .certified-docs h4{font-size: 28px;}
    .certified-docs p{ font-size: 16px;
    line-height: 35px;
    text-align: center;}
    .sec-textpart h4{font-size: 28px;
    text-align: center;}
    .clients h4{font-size: 26px;
    text-align: center;}
    .smiling-doc-container h3{font-size: 28px;}
    .female-doc {
        filter: opacity(0.4);
    }

    .section-1 {
        min-height: unset;
        height: 100vh;
        max-height: 500pxs;
    }

    .logo {
        width: 25%;
        min-width: 120px;
    }

    .logo img {width: 100%;}

    nav {
        min-width: unset;
        width: fit-content;
    }

    header nav > *:not(:last-child) {
        display: none;
    }
    
    .small-card {
        width: 80%;
        margin: 10px auto;
    }

    .doc-text, .doc-image {
        width: 100%;
    }
    .carousel{display: none;}

    .card{
        /* height: 300px; */
        width: 80%;
        max-width: 400px;
        margin: 10px auto;
    }

    .doc-cards > div {
        width: 80%;
        margin: 10px auto;
        max-width: 400px;
    }

    .sec-imagepart{
        width: 100%;
    }
    .sec-textpart{
        width: 100%;
    }

    .feedback-card{
        width: 80%;
        max-width: 380px;
        margin: 10px auto;
    }

    /* contact middle section */
    .first-card{
        width: 80%;
        margin: 15px auto;
    }
    .contact-form{
        width: 80%;
        margin: 15px auto;
    }

    /* footer */
    .firstpart {
        justify-content: space-around;
        text-align: center !important;
    }

    .d-none {display: none;}

    .d-flex {
        display: flex;
        margin: 10px auto 20px;
        width: fit-content;
    }

    .firstpart .marg, .firstpart .second, .firstpart .first {
        width: 100%;
    }

    .firstpart .marg > div:not(:first-child) {
        width: fit-content;
        display: inline-block;
        margin: 0 20px 10px;
    }

    .firstpart .first {
        flex: unset;
    }

    .second form {
        max-width: 400px;
        margin: auto;
    }

    .lastpart {
        display: block;
    }

    .lastpart > div:first-child {
        width: fit-content;
    }

    .lastpart > div {
        margin: 10px auto;
    }  

    .contact-us{
        font-size: 40px;
    }
    
    .content{
        width: 80%;
        min-width: unset;
        max-width: 350px;
    }
    
}


@media only screen and (max-width: 650px){
    .explore-button{padding: 10px;}
    .doc-cards {
        grid-template-columns: auto;
        margin-bottom: 70px;
    }

    .app-store-img {width: 100px;}

    .footer-t .md > div:not(:first-child) {
        margin: 0 10px 10px;
    }
     .land-content1 h3{font-size: 28px;}
    .land-content1 p{font-size: 15px;} 
    .section2-text h4{font-size: 28px;
    }
    .doc-text h4{font-size: 28px; 
    }
    .land-section4 h4{font-size: 28px;}
    .land-section4 p{font-size: 14px;}
    .doc-text p{font-size: 14px;}
    .certified-docs h4{font-size: 28px;}
    .certified-docs p{ font-size: 14px;
    }
    .sec-textpart h4{font-size: 28px;}
    .clients h4{font-size: 28px;
    }
    .smiling-doc-container h3{font-size: 28px;}
    .cards h4{font-size: 20px;}
    .cards p{font-size: 14px;}
    .explore-button{display: none;}
    .carousel{display: none;}
    
}


@media only screen and (max-width:420px) {
    body {
        min-width: 280px;
    }

    .footer-b-child {
        display: none;
    }
     .land-content1 h3{font-size: 20px;}
    .land-content1 p{font-size: 14px;}
    .land-section2 h4{font-size: 20px;
    }
    .land-section3 p{font-size: 18px;}
    .small-card p{ font-size: 14px;
    }
    .land-section3{font-size: 20px;}
    .land-section4 h4{font-size: 18px;}
    .land-section4 p{font-size: 14px;}
    .small-card p{ font-size: 14px;
    }
    .doc-text h4{font-size: 20px; 
    }
    .doc-text p{font-size: 10px;}
    .certified-docs h4{font-size: 20px;}
    .certified-docs p{ font-size: 14px;
    }
    .sec-textpart h4{font-size: 20px;}
    .clients h4{font-size: 20px;
    }
    .smiling-doc-container h3{font-size: 20px;}
    .card img{width: 50px;}
    .sec-imagepart{display: none;}
    .land-section6{margin-top: 50px;}
    .client-feedbacks p{ font-size: 14px;}
    .client-feedbacks h4{font-size: 18px;}
    .nav-left,.nav-right{display: none;}
}